<h4>Reviews</h4>
<!--  Product Reviews List -->
<blockquote ng-repeat="review in product.reviews">
    <strong>{{review.stars}} Stars</strong>
    {{review.body}}
    <cite class="clearfix">- {{review.author}} on {{review.createdOn | date}}</cite>
</blockquote>

<!--  Review Form -->
<h4>Submit a Review</h4>

<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
      ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
      novalidate>
    <!--  Live Preview -->
    <blockquote ng-show="reviewCtrl.review.stars > 0 || reviewCtrl.review.body || reviewCtrl.review.author">
        <strong>{{reviewCtrl.review.stars}} Stars</strong>
        {{reviewCtrl.review.body}}
        <cite class="clearfix">- {{reviewCtrl.review.author}} on {{reviewCtrl.currentDate | date}}</cite>
    </blockquote>

    <fieldset class="form-group">
        <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" required title="Stars">
            <option value="">Rate the Product</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." required title="Review"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" required title="Email" />
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
    </fieldset>
</form>